.footer-container {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: calc(3vh + 3vw);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: calc(100vh - 3vh - 3vw);
    z-index: 999;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.website-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: calc(0.3vh + 1vw);
    width: 100%;
}

.contact {
    color: #fff;
    font-size: calc(0.3vh + 1vw);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.social-icon-link {
    color: #fff;
    font-size: calc(0.5vh + 1.5vw);
}

@media screen and (max-width: 450px) {
    .contact-info {
        flex-flow: column;
        align-items: center;
    }
}