* {
    scroll-behavior: smooth;
}

.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: calc(4vh + 4vw);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(4vh + 4vw);
    max-width: 1500px;
}

.navbar-title {
    position: relative;
    top: 0;
    left: calc(-50vw + 75%);
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: calc(2vh + 2vw);
    display: flex;
    align-items: center;
}

.nav-menu {
    position: absolute;
    top: 0;
    right: 2rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
}

.nav-item {
    height: calc(4vh + 4vw);
    cursor: pointer;
}

.nav-anchors {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: calc(4vh + 4vw);
    margin: 0 calc(0.5vh + 0.5vw);
}

.nav-anchors:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    height: calc(4vh + 4vw);
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1024px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: calc(4vh + 4vw);
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242424;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 100vh;
    }

    .nav-menu.active.white {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 100vh;
    }

    .nav-anchors {
        color: #fff;
        text-align: center;
        width: 100%;
        display: table;
        height: calc(4vh + 4vw);
    }

    .nav-anchors.white {
        color: #242424;
        text-align: center;
        width: 100%;
        display: table;
        height: calc(4vh + 4vw);
    }

    .nav-anchors:hover {
        background: #fff;
        color: #242424;
        text-align: center;
        border-radius: 0;
        height: calc(4vh + 4vw);
    }

    .nav-anchors.white:hover {
        background: #242424;
        color: #fff;
        text-align: center;
        border-radius: 0;
        height: calc(4vh + 4vw);
    }

    .menu-icon {
        display: block;
        position: relative;
        top: 0;
        right: calc(-50vw + 75%);
        font-size: calc(2vh + 2vw);
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
}